body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  background-color: rgb(247, 247, 247);
}
:root {
  --mainBlack: #03071e;
  --mainColor: #3d5a80;
  --darkColor: #304866;
  --brightColor: #98c1d9;
  --solved: #d8345f;
  --unsolved: #639a67;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
.App {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
